env
__pycache__/
*.pyc
.venv
.atl/

# Instaladores/paquetes locales
Miniconda3-latest-Linux-x86_64.sh
*Miniconda*.sh
*Anaconda*.sh

# Directorios de salida de ejecución
outputs/

# Shards de base de datos y archivos locales temporales
data/database/shards/
data/database/resultados.db
*.log

# Generados por el usuario
Graficos_Benchmark/
Graficos_Benchmark/CEC2017
Graficos_Benchmark/Classical